<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
	<title>Registro</title>
</head>
<body>
	<header>
		{% block content %}
		{% if messages %}
		<ul class="messages">
			   {% for message in messages %}
			   <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			   {% endfor %}
		</ul>
		{% endif %}
		<H1>Login</H1>
			<form method="POST">
				{% csrf_token %}
				{{form.as_p}}
				<button type="submit" >Inicio de Session</button>
			</form>	
		{% endblock %}
	</head>
</body>
</html>